// список популярных ссылок
.link {
	display: flex;
	justify-content: space-between;
	font-weight: 400;
	font-size: 14px;
	line-height: 1;
	font-size: 14px;
}

.name {
	color: #feb700;
}

.count {
	color: #bdbdbd;
}

.list {
	max-height: 133px;
	overflow: hidden;

	& > a + a {
		margin-top: 10px;
	}
}

// кнопка еще
.showMoreLinks {
	max-height: unset;
	overflow: visible;
}

.title {
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
	color: var(--title);
	margin-bottom: 15px;
}

.arrowMore {
	display: inline-block;
	margin-top: 15px;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: #feb700;
	cursor: pointer;
	border-bottom: 1px solid #f5bc03;

	svg {
		margin-left: 3px;
		vertical-align: middle;
		transition: 0.3s ease-in;
	}
}

.arrowMoreToggle {
	svg {
		transform: rotate(180deg);
	}
}
