.root {
	display: flex;

	li {
		display: inline-block;
		margin-right: 4px;
	}

	span {
		position: relative;
		display: inline-block;
		width: 22px;
		height: 22px;

		font-size: 18px;
		line-height: 22px;
		color: #686868;
		text-align: center;
		cursor: pointer;

		&::after {
			content: '';
			position: absolute;
			bottom: -3px;
			left: 0;
			right: 0;
			height: 0;
			background: var(--light-yellow);
			transition: height 0.3s ease-out;
		}

		&:hover::after {
			height: 3px;
			background: #e4e2e2;
		}
	}

	.active {
		font-weight: 700;
		color: var(--title);
		position: relative;
		&::after {
			height: 3px;
		}
	}
}
