.selected {
	position: absolute;
	width: 245px;
	background: #ffffff;
	box-shadow: 0px 0px 40px rgba(135, 124, 202, 0.3);
	border-radius: 10px;
  left: 0;
  top: 66px;
  z-index: 12;

	a {
		display: flex;
		align-items: center;
		padding: 10px 15px;
		width: 100%;
		font-weight: 500;
		font-size: 14px;
		line-height: 17px;
		color: var(--title);
		border-radius: 10px;
		transition: 0.3s ease-in;
	}

	a:hover {
		background: #f8f8f8;
	}
}
