.button {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px 18px;

	transition: 0.2s ease-in;
	text-align: center;
	cursor: pointer;

	border: none;
	background: linear-gradient(90deg, #9d94ff 0%, #6b50e9 94.5%);
	border-radius: 20px;
	font-weight: 700;
	font-size: 14px;
}

.lightPrimary {
	max-width: 140px;
	font-weight: 700;
	background: rgba(102, 78, 249, 0.1);

	span {
		color: var(--primary);
	}
}

.yellow {
	background: rgba(255, 213, 79, 0.1);
	cursor: pointer;

	span {
		color: var(--btn-yellow);
	}

	&:hover {
		background: rgba(255, 213, 79, 0.2);
	}
}

.show {
	line-height: 17px;
	text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
	background: var(--primary);
	color: var(--white);

	svg {
		transform: rotate(270deg);
		vertical-align: middle;
		margin-left: 16px;
	}

	&:hover {
		background: #5c35f9;
	}
}

.beige {
	background: var(--dark-grey);
	color: var(--title);

	&:hover {
		background: #f1f1f1;
	}
}

.yellowGradient {
	background: linear-gradient(106.06deg, #ffd54f 1.12%, #fec100 97.96%);

	span {
		color: var(--title);
	}
}

.lightYellow {
	font-weight: 700;
	background: var(--light-yellow);
	transition: 0.2s ease-in-out;

	span {
		color: var(--title);
		padding-right: 10px;
	}

	svg {
		transform: rotate(270deg);
	}

	&:hover {
		background: var(--btn-yellow);
	}
}

.addAdvert {
	background: linear-gradient(90deg, #9d94ff 0%, #6b50e9 94.5%);
	color: var(--white);
	span {
		padding-right: 10px;
	}
}

.openMap {
	background: var(--white);
	font-weight: 600;
	box-shadow: 0px 10px 20px rgba(0, 96, 206, 0.1);

	span {
		color: var(--title);
		padding-left: 10px;
	}
	svg {
		transition: 0.2s ease-in-out;
	}
  
	&:hover {
		svg {
			fill: var(--btn-yellow);
		}
		color: var(--btn-yellow);
	}
}

.buttonDef {
	padding: 12px 128px;
	text-align: center;
	background: var(--light-yellow);
	border-radius: 33px;
	font-size: 16px;
	font-weight: 700;
  color: var(--title);

	svg {
		margin-right: 10px;
	}

  &:hover {
    background: #FEC100;
  }

}

.error {
	width: 306px;
	padding: 12px 0;
	text-align: center;
	background: #eb5757;
	border-radius: 33px;
	font-size: 16px;
	font-weight: 700;

	svg {
		order: 1;
		margin: 0;
		margin-left: 10px;
	}
}

.fav {
	padding: 9px 15px;
	border-radius: 50%;
	background: rgba(235, 87, 87, 0.1);

	svg {
		transition: 0.2s ease-in;
	}

	&:hover {
		svg {
			fill: #fc3333;
		}
	}
}


.disableBtn {
  opacity: .3;
}