.startSection {
	position: relative;
	min-height: 446px;
	padding-top: 74px;
	display: flex;
	justify-content: center;
	text-align: center;
	background: url('/assets/headerBg.png'),
		linear-gradient(360deg, #7e6af3 15.95%, #6540cd 63.1%);
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 180px;

	&::before {
		content: '';
		position: absolute;
		right: 140px;
		top: 46px;
		width: 61px;
		height: 61px;
		background-image: url('../../../assets/circles.png');
		background-repeat: no-repeat;
		background-size: contain;
	}
}

.content {
	max-width: 390px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;

	.title {
		font-weight: 700;
		font-size: 25px;
		line-height: 30px;
		margin-bottom: 19px;
		color: var(--white);
	}
	.text {
		font-weight: 500;
		font-size: 16px;
		line-height: 19px;
		margin-bottom: 23px;
		color: var(--white);
	}
	button {
		svg {
			margin-right: 8px;
		}
		span {
			color: var(--title);
		}
	}
}

.cardsRow {
  padding: 0 15px;
  max-width: 1310px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  position: absolute;
  top: 322px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;

	&::after {
		content: '';
		position: absolute;
		right: 42px;
		bottom: -104px;
		width: 61px;
		height: 61px;
		background-image: url('../../../assets/circlesYellow.svg');
		background-repeat: no-repeat;
		background-size: contain;
	}
}
