.card {
	width: 406px;
	min-height: 500px;
	background: #fffefe;
	border-radius: 10px;
	box-shadow: (0px 20px 40px rgba(39, 95, 158, 0.1));
}

.headerCard {
	min-width: 406px;
	max-height: 226px;
	display: flex;
	justify-content: center;
	background: #e0e0e0;
	border-radius: 10px;
	overflow: hidden;
}

.title {
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	margin-bottom: 15px;
	color: var(--title);
}

.body {
	padding: 30px 20px 23px;
}

.desc {
	max-width: 366px;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	color: var(--grey);
	margin-bottom: 25px;
	text-align: left;

	-webkit-line-clamp: 5; /* Число отображаемых строк */
	display: -webkit-box; /* Включаем флексбоксы */
	-webkit-box-orient: vertical; /* Вертикальная ориентация */
	overflow: hidden; /* Обрезаем всё за пределами блока */
}

.footer {
	display: flex;
	justify-content: space-between;
	padding-top: 20px;
	border-top: 1px solid rgba(101, 78, 249, 0.1);
}
