.card {
	width: 406px;
	min-height: 522px;
	background: #fffefe;
	border-radius: 10px;
}

.headerCard {
	min-width: 406px;
	min-height: 226px;
	display: flex;
	justify-content: center;
	background: #e0e0e0;
	border-radius: 10px;
}

.body {
	padding: 20px;
}

.row {
	display: flex;
	justify-content: space-between;
	margin-bottom: 24px;
}

.price {
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	color: var(--primary);
}

.priceText {
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	color: #bdbdbd;
}

.labelRow {
	display: flex;

	& > * + * {
		margin-left: 7px;
	}
}

.locationBlock {
	display: grid;
	grid-template-columns: 133px 115px;
	margin-bottom: 20px;
}
.location:first-child {
	grid-column: 3 span;
	margin-bottom: 11px;
}
.location {
	display: flex;
	align-items: center;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	color: var(--title);

	& > * + * {
		margin-left: 8px;
	}
}

.desc {
	font-weight: 400;
	font-size: 12px;
	line-height: 15px;
	color: var(--grey);
	margin-bottom: 12px;
  text-align: left;
}

.footer {
	display: flex;
	justify-content: space-between;
	padding-top: 13px;
	border-top: 1px solid rgba(101, 78, 249, 0.1);

	& div:first-child {
		position: relative;
		display: flex;
		align-items: center;

		svg {
			margin-right: 10px;
		}
	}
}

