.filterSection {
	padding: 82px 15px 118px;
	display: flex;
	justify-content: center;
	background: url('../../../assets/headerBg.png'),
		linear-gradient(360deg, #7e6af3 15.95%, #6540cd 63.1%);
	background-repeat: no-repeat;
	background-size: cover;
	border-bottom-left-radius: 40px;
	border-bottom-right-radius: 40px;
	margin-bottom: 84px;
}
