.header {
	padding-top: 100px;
	padding-bottom: 57px;
	background: linear-gradient(
		90deg,
		rgba(148, 175, 255, 0.1) 0%,
		rgba(78, 101, 249, 0.1) 94.5%
	);
	h1 {
		font-size: 25px;
		padding: 30px 0 40px;
	}

	.recommendations {
		.text {
			font-weight: 500;
			font-size: 16px;
			line-height: 1;
			color: var(--title);
			margin-bottom: 25px;
		}
	}
}

.additionalParameters {
	display: flex;
	flex-wrap: wrap;
	gap: 15px;

	.btn {
		padding: 6px 10px;
		background: rgba(102, 78, 249, 0.1);
		border-radius: 17px;

		font-size: 14px;
		line-height: 1;
		color: var(--primary);
		cursor: pointer;
		transition: 0.2s ease-in;

		&:hover {
			background: rgba(102, 78, 249, 0.2);
		}
	}
}

.boxCards {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 30px;
	padding-bottom: 80px;
}

.notFoundTitle {
	text-align: center;
	font-weight: 700;
	font-size: 26px;
}

.cardslist {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: 30px;
}

.filteres {
	background: #ffffff;
	box-shadow: 0px 20px 40px rgba(39, 95, 158, 0.08);
	margin-bottom: 21px;
}

.filteresRow {
	height: 82px;
	display: flex;
	border-bottom: 1px solid rgba(78, 100, 249, 0.1);

	& > div + div {
		border-left: 1px solid rgba(101, 78, 249, 0.1);
	}
}

.buttons {
	padding-left: 50px;
	display: flex;
	align-items: center;
	gap: 30px;
}

.sortWrapper {
	margin-bottom: 70px;
}

.sortIcon {
	right: unset;
	left: 24px;
	margin-top: -1px;
	margin-right: 8px;
}

.row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.layoutGroupRoot {
	display: flex;
	align-items: center;
	margin-left: auto;
	margin-right: 65px;
	gap: 20px;

	.itemBtn {
		display: flex;
		align-items: center;
		padding: 10px 15px;
		background: transparent;
		border-radius: 18px;

		svg {
			margin-right: 10px;
		}

		font-weight: 600;
		font-size: 14px;
		line-height: 17px;
		color: var(--title);
		cursor: pointer;
		transition: 0.2s ease-in;

		&:hover {
			background: #f8f8f8;
		}
	}

	.itemBtn.active {
		background: #ffffff;
		box-shadow: 0px 5px 20px rgba(0, 96, 206, 0.1);
		border-radius: 18px;
	}
}

.wrapperContent {
	padding-bottom: 50px;

	.title {
		font-weight: 700;
		font-size: 20px;
		line-height: 1;
		color: var(--title);
		margin-bottom: 40px;
	}
}

.filters {
	display: grid;
	grid-template-columns: repeat(3, 200px);
	gap: 48px;

	button {
		background: var(--dark-grey);
	}

	& > div {
		span {
			color: var(--primary) !important;
			padding-bottom: 5px;
		}
	}
}

// section maps
.maps {
	padding: 75px 0 86px;
	display: flex;
	justify-content: center;
	text-align: center;
	background: url('../../assets/headerBg.png'),
		linear-gradient(360deg, #7e6af3 15.95%, #6540cd 63.1%);
	background-repeat: no-repeat;
	background-size: cover;

	&::before {
		content: '';
		position: absolute;
		right: 140px;
		top: 46px;
		width: 61px;
		height: 61px;
		background-image: url('../../assets/circles.png');
		background-repeat: no-repeat;
		background-size: contain;
	}
}

.content {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;

	.title {
		font-weight: 700;
		font-size: 25px;
		line-height: 30px;
		margin-bottom: 20px;
		color: var(--white);
	}
	.text {
		max-width: 320px;
		font-weight: 500;
		font-size: 16px;
		line-height: 19px;
		margin-bottom: 23px;
		color: var(--white);
	}
	button {
		svg {
			margin-right: 8px;
		}
		span {
			color: var(--title);
		}
	}
}
