.apartmentCatalog {
}

.header {
	padding-top: 100px;
	padding-bottom: 57px;
	background: linear-gradient(
		90deg,
		rgba(148, 175, 255, 0.1) 0%,
		rgba(78, 101, 249, 0.1) 94.5%
	);
	h1 {
		font-size: 25px;
		padding: 30px 0 40px;
	}
}

.boxCards {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 30px;
	padding-bottom: 80px;
}

.notFoundTitle {
	text-align: center;
	font-weight: 700;
	font-size: 26px;
}

.cardslist {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: 30px;
}

.filteres {
	background: #ffffff;
	box-shadow: 0px 20px 40px rgba(39, 95, 158, 0.08);
	margin-bottom: 21px;
}

.filteresRow {
	height: 82px;
	display: flex;
	border-bottom: 1px solid rgba(78, 100, 249, 0.1);

	& > div + div {
		border-left: 1px solid rgba(101, 78, 249, 0.1);
	}
}

.buttons {
	padding-left: 50px;
	display: flex;
	align-items: center;
	gap: 30px;
}

.sortWrapper {
	margin-bottom: 70px;
}

.sortIcon {
	right: unset;
	left: 24px;
	margin-top: -1px;
	margin-right: 8px;
}

.row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.layoutGroupRoot {
	display: flex;
	align-items: center;
	margin-left: auto;
	margin-right: 65px;
	gap: 20px;

	.itemBtn {
		display: flex;
		align-items: center;
		padding: 10px 15px;
		background: transparent;

		svg {
			margin-right: 10px;
		}

		font-weight: 600;
		font-size: 14px;
		line-height: 17px;
		color: var(--title);
		cursor: pointer;
	}

	.itemBtn.active {
		background: #ffffff;
		box-shadow: 0px 5px 20px rgba(0, 96, 206, 0.1);
		border-radius: 18px;
	}
}

.wrapperContent {
	padding-bottom: 80px;
	.title {
		font-weight: 700;
		font-size: 20px;
		line-height: 1;
		color: var(--title);
		margin-bottom: 40px;
	}
}

.moreOptions {
	display: flex;
	padding: 20px 0 30px;

	& > * + * {
		margin-left: 48px;
	}

	& > div {
		span {
			color: var(--primary) !important;
			padding-bottom: 5px;
		}
	}
}
