.apartmentCatalog {
	padding-top: 100px;
}

.header{
  margin-bottom: 57px;

  h1 {
    padding: 30px 0 40px;
  }
}

.wrapper {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 30px;
}

.filteres {
	background: #ffffff;
	box-shadow: 0px 20px 40px rgba(39, 95, 158, 0.08);
  margin-bottom: 130px;
}

.filteresRow {
	height: 82px;
	display: flex;
}

.buttons {
  padding-left: 50px;
  display: flex;
  align-items: center;
  gap: 30px;
}
