.breadcrumsb {
	display: flex;
	align-items: center;

	a {
		display: flex;
	}

	.text,
	span {
		font-weight: 400;
		font-size: 14px;
		line-height: 1;
		padding-left: 12px;
	}

	span {
		color: var(--light-primary);
	}

	.text {
		position: relative;
		color: var(--grey);

		&::before {
			content: '.';

			position: absolute;
			top: 24%;
			transform: translate(-50%, -50%);
			left: 6px;
			color: var(--light-primary);
		}
	}
}
