:root {
	--title: #1e2224;
	--white: #ffff;
	--grey: #8291a3;
	--line-yellow: #ffd54f;
	--text-grey: #686868;
	--dark-yellow: #ff8a00;
	--primary: #664ef9;
	--light-primary: #4e64f9;
	--btn-yellow: #fec100;
	--light-yellow: #ffd54f;
}
