@import 'fonts';
@import 'variables';
@import 'libs/normalize';

body {
  font-weight: 400;
	font-family: 'Inter';
	background: var(--white);
	color: var(--title);
}


.container {
	max-width: 1310px;
	width: 100%;
	padding: 0px 15px;
	margin: 0 auto;
}

.logo {
	display: flex;
	cursor: pointer;
}

footer {
	.logo {
		padding-bottom: 10px;
	}
}
