.top {
	background: #f8f8f8;

	.wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: 14px;
	}
}

.headerRight {
	.list {
		font-weight: 500;
		display: flex;

		& > * + * {
			margin-left: 40px;
		}
	}
}

.favorites {
	a {
		display: flex;
		align-items: center;
		color: var(--grey);
		svg {
			margin-left: 11px;
		}
	}
}

.priamary {
	color: var(--primary);
}
