.tabsFilter {
	width: 1062px;
	height: 100px;
	padding: 15px 0;
	font-size: 14px;
	font-weight: 500;

	background: var(--white);
	border-radius: 0px 10px 10px;
}

.wrapper {
	display: flex;
  align-items: center;
}

.buttonFilter {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left: 17px;

  a {
    margin-right: 20px;
  }
}
